@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Nanum+Gothic:wght@400;700;800&display=swap');

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

html {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
  font-family: "Nanum Gothic", sans-serif;
  color: #fff;
  background-color: #000000;
  height: 100%;
  position: relative;
  margin: 0;
  padding: 0;
}

.main-page {
 min-height: 100vh;
 overflow: hidden;
 display: block;
 position: relative;
 padding-bottom: 200px;
}

/*------------------------------------------------Nav bar & Hero Img */

h2 {
  font-family: "Nanum Gothic", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #fff;
  font-size: 150%;
}

nav a:hover {
  border-bottom: 1px solid #800008;
}

.active {
  border-bottom: 1px solid #800008;
}

nav i {
    width: 50px;
    height: 50px;
    padding: 15px 0;
    font-size: 25px;
    line-height: 10px;
    text-align: center;
    color: #800008;
}

#hero-image {
  height: 800px;
  width: 100%;
  background: url(../images/babymetal-background5.jpeg) no-repeat center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
    
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  animation-name: hero-zoom;
  animation-duration: 8s;
  animation-fill-mode: forwards;
}

#hero-outer {
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: relative;
}


@keyframes hero-zoom {
  from{
    transform: scale(1);
  }
  to{
    transform: scale(1.1);
  }
}

/*------------------------------------------------Band History */

.band-history {
    margin-top: 2%;
    text-align: justify;
    padding: 0;
    border: 0;
}

.history {
    margin: 0 auto;
    padding: 0;
    height: 600px;
}


/*------------------------------------------------Band members */


.su-metal-member {
    position: absolute;
    top: 75%;
    left: 20%;
    transform: translate(-50%,-50%);
    width: 600px;
    padding: 30px;
    background: #800008;
    box-sizing: border-box;
    border-radius: 10px;
  }

.su-metal {
    width: 200px;
    height: 200px;
    background: url(../images/su-metal3.jpg);
    border-radius: 50%;
    float: left;
    shape-outside: circle();
    margin: 30px 30px 30px 0;
}

.member-heading {
    font-size: 30px;
    text-decoration: underline;
    margin: 0 0 20px;
    padding: 0;
}

.su-metal-member p {
    margin: 0;
    padding: 0;
    text-align: justify;
    line-height: 20px;
}

.moa-metal {
    width: 200px;
    height: 200px;
    background: url(../images/moa-metal3.jpg);
    border-radius: 50%;
    float: left;
    shape-outside: circle();
    margin: 30px 30px 30px 0;
}

.moa-metal-member {
    position: absolute;
    top: 75%;
    left: 80%;
    transform: translate(-50%,-50%);
    width: 600px;
    padding: 30px;
    background: #800008;
    box-sizing: border-box;
    border-radius: 10px;
  }

  .moa-metal-member p {
    margin: 0;
    padding: 0;
    text-align: justify;
    line-height: 20px;
}

/*------------------------------------------------Footer */

#footer {
    position: relative;
    bottom: 0;
    width: 644px;
    height: 20px;
    margin: 0 auto;
}

li:hover {
    color: #fff;
}

.links-merchandise {
  text-align: center;
}

.links-merchandise li {
  display: inline;
}

.links-merchandise i {
  font-size: 200%;
  margin: 1%;
  padding: 5%;
  color: #800008;
}

.links-merchandise i:hover {
    color: #fff;
}

/*------------------------------------------------Gallery page */

img {
    padding: 80px 0px 0px;
}



.iframe-container {
    position: relative;
    width: 50%;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
}

.iframe-container iframe, .iframe-container object, .iframe-container embed {
    position: absolute; 
    top: 0; 
    left: 0; 
    width: 100%; 
    height: 100%; 
}



/*------------------------------------------------Upcoming shows page */


.spotify-container {
    position: relative; 
    padding-bottom: 56.25%; 
    height: 0; 
    overflow: hidden; 
    max-width: 100%; 
} 
    
.spotify-container iframe, .spotify-container object, .spotify-container embed { 
    position: absolute; 
    top: 80px; 
    left: 0; 
 }

 .uppercase {
    text-transform: uppercase;
}

.section-column {
    display: table-cell;
    padding: 0 30px 30px;
    float: none;
}

.upcomingshows-heading,
.section-heading {
    font-family: "Nanum Gothic", sans-serif;
    font-weight: 500;
    margin-top: 25px;
    margin-bottom: 40px;
}

.upcomingshows-heading {
    color: #fff;
    margin-bottom: 10px;
}

.timeline-item {
    padding: 4em 2em 0em 2em;
    position: relative;
    color: #fff;
    border-left: 2px solid;
}

.timeline-item p {
    padding: 0;
    margin: 0;
}

.timeline-item:before {
    content: attr(data-dates);
    position: absolute;
    left: 2.5em;
    top: 3em;
    display: block;
    font-family: "Nanum Gothic", sans-serif;
    font-weight: 500;
    font-size: 0.8em;
    padding: 0;
    margin: 0;
}

.timeline-item:after {
    width: 12px;
    height: 12px;
    display: block;
    top: 2.4em;
    position: absolute;
    left: -6px;
    border-radius: 12px;
    content: '';
    background: #fafafa;
}

.calendar-items {
    margin-bottom: 30px;
}

.bg-image-upcoming-shows {
    clear: left;
    background: url(../images/babymetal-background1.jpeg);
    background-size: cover;
    background-position: 100% 60%;
    height: 800px;
    z-index: -1;
    padding: 70px 10px;
}

.form-section {
    clear: left;
    background: url(../images/babymetal-dark1.jpg);
    background-size: cover;
    background-position: center;
    height: 800px;
    z-index: -1;
    margin-top: 30px;
}

.signup-form{
  margin-top: 150px;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.6);
  max-width: 400px;
  float: right;
  padding: 20px;
}

.signup-form h2{
  color: #fafafa;
  margin-bottom: 20px;
}

form i {
    position: relative;
    left: 10;
    color: #800008;
}

.text-input{
  background: transparent;
  color: #fafafa;
  width: 100%;
  height: 25px;
  margin: 5px 0px 20px 0px;
  border: 1px solid #fafafa;
  border-radius: 2px;
}

.text-input:hover{
  border-color: #800008;
  }
  
.join-button{
  margin-top: 20px;
  border-radius: 2px;
  padding: 15px 32px;
  text-align: center;
  font-size: 100%;
  background-color: #000;
  color: #fafafa;
  display: block;
}

.join-button:hover{
  background-color: #800008;
  color: #fff;
}

/*------------------------------------------------Media Screens */

@media screen and (max-width: 1393px ){
 
  #hero-image {
     height: 700px;
     width: 100%;
  }

  #introduction {
    width: 65%;
    height: 95px;
    margin: 0 auto;
    padding-top: 15px;
  }

  .history {
      padding-top: 20px;
  }

  hr {
    display: none;
  }

.column {
    width: 100%;
  }

.band-members {
    width: 65%;
    height: 1200px;
    margin: 0 auto;
  }

#band-members-heading {
    padding: 30px 0;
    margin-top: 0;
  }

  #member-left, #member-right {
    width: 100%;
    float: left;
    padding: 0;
  }

  .center-photo {
    clear: both;
    width: 100%;
    float: left;
    padding: 0;
  }

}

@media screen and (max-width: 943px ){
  #hero-image {
     height: 600px;
     width: 100%;
  }

  #introduction {
    width: 65%;
    height: 130px;
    margin: 0 auto;
    padding-top: 15px;
  }

.history {
      padding-top: 10px;
  }

  hr {
    display: none;
  }

.column {
    width: 100%;
  }

.band-members {
    width: 90%;
    height: 1200px;
    margin: 0 auto;
  }

  .member-left-heading, .member-right-heading {
    width: inherit;
  }

  .member-left-heading h2, .member-right-heading h2 {
    width: 100%;
    text-align: center;
  }

  .member-left-heading p, .member-right-heading p{
    text-align: center;
    padding: 0 20px 0 20px;
  }
@media screen and (max-width: 800px ){
  #hero-image {
     height: 500px;
     width: 100%;
  }

  #introduction {
    width: 65%;
    height: 130px;
    margin: 0 auto;
    padding-top: 10px;
  }

.history {
      padding-top: 5px;
  }

  hr {
    display: none;
  }

 .column {
    width: 100%;
  }
